{% extends "base.html" %}

{% block title_head %}
Tennis World
{% endblock title_head %}



{% block h1_header %}
Tennis World
{% endblock h1_header %}

{% block main %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Sobre la pagina</h1>
            <p class="lead text-muted">Pagina relacioanda al mundo del tenis, donde se pueden relacionar distintos aficionados</p>
        </div>
    </div>
</section>
{% endblock main %}
